
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

*{
font-family: 'Sora', sans-serif;
  color: snow;
}

.top {
  background-color: #423E37;
}

main {
  padding-bottom: 220px;
  background-color: #141414;
}

/* To make full background in main black */
main:after {
  background-color: #141414;
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

/* Player buttons on PlayingSite! To be removed */
.playingPageButton {
  background-color: #141414;
  color: inherit;
  border: 1px solid white;
  padding: 1vh;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.songHeader {
  font-size: 5vh;
  padding-top: 6vh;
  padding-bottom: 3vh;
}

.result {
  display: flex;
  flex-flow: row wrap;
  padding: 1vh;
}

.resultSong {
  margin-top: 2vh;
  margin-left: 2vh;
}

.resultArtist {
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.5;
}

.playingPage {
  text-align: center;
}

.albumimg {
  border: 1px solid white;
  box-shadow: -4px 4px 4px 0px #000000;
  margin-top: 4vh;
  width: 26vh;
  height: 26vh;
}

.playingPageSong {
  margin-top: 2vh;
  font-size: 3vh;
  max-font-size: 2vw;
  color: #E6B84C;
}

.playingPageArtist {
  font-size: 2vh;
  color: #E6B84C;
}

.playingPageAlbum {
  font-size: 2vh;
  font-weight: lighter;
  color: darkgrey;
}

.top {
  overflow: paged-x;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  horiz-align: center;
  padding: 30px;
  background-color: #c4c4c4;
  height: 20px;
}

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  .top {
    height: 20px;
  }
}