
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

*{
font-family: 'Sora', sans-serif;
}

main {
  padding-bottom: 220px;
}

.playingPage {
  text-align: center;
}

.albumimg {
  margin-top: 4vh;
  width: 26vh;
  height: 26vh;
}

.playingPageSong {
  margin-top: 2vh;
  font-size: 3vh;
  max-font-size: 2vw;
}

.playingPageArtist {
  font-size: 2vh;
}

.playingPageAlbum {
  font-size: 2vh;
  font-weight: lighter;
  color: darkgrey;
}

.top {
  overflow: paged-x;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  horiz-align: center;
  padding: 30px;
  background-color: #c4c4c4;
  height: 20px;
}

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  .top {
    height: 20px;
  }
}