
.information{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6vh;
    background-color: #E6B84C;
    display: grid;
    padding-top: 20px;
    padding-bottom: 17vh;
    padding-right: 50px;

}

.artistText {
    margin-right: 1%;
    font-size: 2.5vh;
    margin-top: 1vh;
    color: #141414;
}

.songText {
    margin-right: 1%;
    font-size: 3vh;
    color: #141414;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */

}

img{
    background-color: #c4c4c4;
}


.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 15px;
    background-color: #141414;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    cursor: pointer;
    border-color: #141414;
    background-color: #141414;
}

.slider::-moz-range-thumb {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    cursor: pointer;
    border-color: #141414;
    background-color: #141414;
}