
.information{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #c4c4c4;
    display: grid;
    padding-top: 20px;
    padding-bottom: 120px;
    padding-right: 50px;
}

.artistText {
    margin-right: 1%;
    font-size: medium;
}

.songText {
    margin-right: 1%;
    font-size: large;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

img{
    background-color: #c4c4c4;
}


.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 15px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}