
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

*{
font-family: 'Sora', sans-serif;
background-color: #e5e5e5;
}

.top,a{
  font-size: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #c4c4c4;
}